:root{
    --primary: #111;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 4px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

body,html{
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #e5e5e5;
}

a{
    color: inherit;
    text-decoration: none;
}

.dflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-flow: wrap;
}

nav{
    background-color: var(--primary);
    color: white;
    padding: 16px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;
}

nav .title{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
}

nav .content{
    gap: 24px;
    font-size: 14px;
}

nav .open_nav{
    display: none;
}

section{
    min-height: 100vh;
}

.landing{
    background: url("../img/bg.jpg");
    background-size: cover;
    display: grid;
    align-items: center;
}

.landing .content{
    width: min(90%, 1400px);
    margin-inline: auto;
    display: grid;
    gap: 40px;
    color: white;
}

.landing .name{
    font-size: 60px;
    font-weight: bold;
}

.landing .about{
    width: min(90%, 600px);
    font-size: 36px;
}

.landing .btn{
    padding: 16px 30px;
    background: var(--primary);
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.landing .btn:hover{
    opacity: 0.8;
}

.landing .btn:active{
    opacity: 0.6;
}

.container{
    width: min(90%, 1400px);
    margin: 0 auto;
    padding: 64px 0;
    display: grid;
}

.heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 36px;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
}

.card{
    border-radius: 24px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1),
    -3px -3px 5px rgba(255,255,255,0.9);
}

.card .image{
    padding: 48px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.card img{
    width: 90px;
    object-fit: cover;
    object-position: center;
}

.card .content{
    padding: 24px;
    display: grid;
    gap: 8px;
}

.card .title{
    font-size: 18px;
    font-weight: bold;
}

.card .desc{
    font-size: 14px;
    color: #555;
}

.card .btn{
    background-color: #222;
    color: #eee;
    padding: 12px 0;
    text-align: center;
    border-radius: 20px;
    margin-top: 8px;
}

.card .btn:hover{
    background-color: #000;
}

.h-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 24px;
    place-items: center;
}

.half img{
    width: 100%;
    mix-blend-mode: multiply;
}

.half .desc{
    margin-top: 16px;
    font-size: 26px;
    max-width: 280px;
}

.h-grid .heading{
    font-size: 60px;
    margin-bottom: 24px;
}

.table{
    padding: 12px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 5px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    height: max-content;
    margin: 36px auto 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

table tr:nth-child(1){
    background-color: var(--primary);
    color: #eee;
}

table td,
table th{
    text-align: center;
    padding: 16px;
    border: 1px solid #ccc;
}

table td.dflex{
    gap: 0;
    justify-content: center;
}

.container iframe{
    width: 100%;
    min-height: 1140px;
    border: none;
}

.sideSocial{
    position: fixed;
    right: 0px;
    bottom: 150px;
    transform: translateX(calc(100% - 50px));
}

.social-item{
    display: grid;
    grid-template-columns: 50px max-content;
    grid-template-rows: 50px;
    background-color: var(--primary);
    color: white;
    transition: .35s ease;
    border-radius: 8px 0 0 8px;
}

.social-item:hover{
    transform: translateX(calc(-100% + 50px));
}

.social-item .icon{
    display: grid;
    place-items: center;
    font-size: 18px;
}

.social-item .data{
    display: grid;
    align-content: center;
    border-left: 1px solid #ccc;
    padding: 12px 24px;
}

footer{
    padding: 60px;
    background: var(--primary);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,300px));
    justify-content: space-between;
    gap: 24px;
}

footer .foot-item{
    display: grid;
    gap: 16px;
    align-content: baseline;
    color: #888;
}

footer img{
    width: 80px;
}

.foot-item .heading{
    color: white;
    font-size: 24px;
    margin-bottom: 0;
}

.foot-item .desc{
    display: grid;
    gap: 8px;
    line-height: 1.4;
}

.social-links{
    display: flex;
    gap: 24px;
}

#backToTop{
    position: fixed;
    bottom: 40px;
    right: 16px;
    display: grid;
    place-items: center;
    width: 0px;
    aspect-ratio: 1;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: .25s ease;
}

footer iframe{
    width: min(100%, 300px);
}

@media screen and (max-width: 600px){
    nav .content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0px;
        overflow: hidden;
        background-color: var(--primary);
        display: grid;
        font-size: 22px;
        align-content: start;
        white-space: nowrap;
        transition: 0.25s cubic-bezier(0,.97,.48,1.18);
    }

    nav .open_nav.active ~ .content{
        padding: 40px;
        width: 250px;
    }    
    
    nav .open_nav{
        display: block;
        font-size: 24px;
    }
    
    .h-grid .heading{
        font-size: 48px;
    }
}

@media screen and (max-width: 768px){
    .landing .content{
        gap: 24px;
    }
    .landing .name{
        font-size: 40px;
    }
    .landing .about{
        font-size: 24px;
    }
    .hide{
        display: none;
    }
    .model-box{
        right: 50%;
        transform: translate(50%, -50%);
    }
    .h-grid{
        grid-template-columns: 1fr;
    }
}